body {
    background-image: url(arkaplan.png);
}

.baslik {
    background-color: rgb(197, 240, 116);
}

h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}
h2 span {
    background-color: gold;
}

p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.resim {
    text-align: center;
}
.anasayfa{
    padding: 10px;
    background-color: rgb(197, 240, 116);
}